/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 /*--- Begin Body Style ---*/

 body {
    font-family: 'lato', sans-serif;
 	color: dimgray;
 	font-size: 16px;
    padding: 0;
    margin: 0;
 }

p {
    line-height: 1.6;
}

 html {
 	padding: 0;
 	margin: 0;
 }
 /*--- End Body Style ---*/
 /*--- Begin General Styling ---*/
#page-header {
    padding: 0;
    margin: 0;
}

 .container-fluid {
 	margin: 0;
 	padding: 0;
 }

 .container-fluid .row {
 	margin-top: 0;
 	font-family: 'lato', sans-serif;
 	text-align: center;
 	width: 100%;
 	padding: 2rem 0 2rem 0;
 }

 h4 a {
 	color: white;
 }

 h4 a:hover,
 h4 a:focus {
 	color: #CC3333;
 	font-weight: bold;
 	text-decoration: none;
 }

 h4 a:active {
 	color: #eee;
 }

 .navbar-right a:after {
 	content: "";
 	position: absolute;
 	width: 100%;
 	height: 2px;
 	bottom: 0;
 	left: 0;
 	background-color: #fff;
 	visibility: hidden;
 	-webkit-transform: scaleX(0);
 	transform: scaleX(0);
 	-webkit-transition: all 0.3s ease-in-out 0s;
 	transition: all 0.3s ease-in-out 0s;
 }

 .navbar-right a:hover:after {
 	visibility: visible;
 	-webkit-transform: scaleX(1);
 	transform: scaleX(1);
 }

.fa {
    color: #d6d6d6;
    font-size: 87px;
}
 /*--- End General Styling ---*/
 /*--- Begin Header Styling ---*/

 .navbar {
 	height: 11%;
 	background: rgba(0, 0, 0, 0.8);
 	border: none;
 }

.onScroll {
    height: 10%;
 	background: rgba(0, 0, 0, 0.2);
 	border: none;
}

 .navbar-brand img {
 	width: 100%;
 	height: auto;
 	vertical-align: middle;
 	margin-left: 15px;
 }

 .navbar-custom:after {
 	content: "";
 	position: absolute;
 	width: 100%;
 	height: 2px;
 	bottom: 0;
 	left: 0;
 	background-color: #666666;
 	visibility: hidden;
 	-webkit-transform: scaleX(0);
 	transform: scaleX(0);
 	-webkit-transition: all 0.3s ease-in-out 0s;
 	transition: all 0.3s ease-in-out 0s;
 }

 .navbar-custom:hover:after {
 	visibility: visible;
 	-webkit-transform: scaleX(1);
 	transform: scaleX(1);
 }

 #navbar-right {
 	vertical-align: middle;
 	line-height: 15px;
 	padding: 30px 50px 20px 0;
 	font-weight: bold;
 }

 #navbar-right li a {
 	font-family: 'lato', sans-serif;
 	color: white;
 	display: block;
 	position: relative;
 	text-shadow: none;
 }

 #navbar-right li a:hover,
 #navbar-right li a:focus {
 	color: #ccc;
 	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
 	background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
 }

 #navbar-right li a:active {
 	color: #ccc;
 	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
 	background: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
 }

 .navbar-collapse ul li a {
 	color: black;
 }
/*--- End header styling ---*/
/*--- Begin video styling ---*/

.video {
    padding: 0;
    margin: 0;
}

#video-container {
    position: relative;
    padding: 0 0 56.25% 0;
    overflow: hidden;
}

#video-container iframe,
#video-container object,
#video-container embed {
    position: absolute; /* !!!!!!  TODO:  Setting to 'absolute' fixes responsive issues (overflow). How can this be changed to 'fixed' and not create black space around video? */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.fillWidth {
	width: 100%;
}
/*--- End video styling ---*/
/*--- Begin #about (services) section styling ---*/

.welcome {
    padding: 2rem;
    margin: 0;
}

/*.welcome-bg {
    padding: 0;
    margin: 0;
    height: 50vh;
    width: 100%;
    background: url(/img/vintage_old_film.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

.services-bg {
    padding: 0;
    margin: 0;
    height: 50vh;
    width: 100%;
    background: url(/wats1020-mobile-friendly-layout/img/vintage_old_film.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about {
    background-color: white;
    padding: 3rem;
    margin: 0;
}

.latest-projects {
    padding: 2rem;
    margin: 0;
}

.latest-projects-bg {
    padding: 0;
    margin: 0;
    height: 50vh;
    width: 100%;
    background: url(/wats1020-mobile-friendly-layout/img/mobile_video.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#lp-video-container {
    position: relative;
    padding: 0 0 56.25% 0;
    overflow: hidden;
}

#lp-video-container iframe,
#lp-video-container object,
#lp-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
}

.contact-bg {
    padding: 0;
    margin: 0;
    height: 50vh;
    width: 100%;
    background: url(/wats1020-mobile-friendly-layout/img/seattle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact {
    background-color: dimgrey;
    padding: 0;
    margin: 0;
}

/*--- End #about section styling ---*/
/*--- Begin contact section styling ---*/

#map {
    margin: 0;
    padding: 0;
}

#map-container {
    height: 260px;
}


/*--- End contact section styling ---*/
/*--- Begin footer styling ---*/

footer {
    background-color: black;
}

.footer-row {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0;
}



/*---  Media Queries  ---*/

/*---  !!!!***  TODO: IS THERE A BETTER WAY TO ADJUST VIDEO SIZES TO AVOID BLACK SPACE?  ***!!!   ---*/

    /* Custom, iPhone Retina */
/*    @media only screen and (min-width : 320px) {
        .video {
             height: 35vh;
             width: 100%;
        }
         #video-container {
            height: 35vh;
            width: 100%;
        }
    }

    /* Extra Small Devices, Phones */
 /*   @media only screen and (min-width : 480px) {
         .video {
             height: 40vh;
             width: 100%;
        }
         #video-container {
            height: 40vh;
            width: 100%;
        }
    }

    /* Small Devices, Tablets */
  /*  @media only screen and (min-width : 768px) {
        .video {
             height: 58vh;
             width: 100%;
        }
        #video-container {
            height: 57vh;
            width: 100%;
        }
    }

    /* Medium Devices, Desktops */
   /* @media only screen and (min-width : 992px) {
         .video {
             height: 85vh;
             width: 100%;
        }
        #video-container {
            height: 80vh;
            width: 100%;
        }
    }

    /* Large Devices, Wide Screens */
  /*  @media only screen and (min-width : 1200px) {
        .video {
             height: 120vh;
             width: 100%;
        }
         #video-container {
            height: 107vh;
            width: 100%;
        }
    }






